@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 24, 39;
  --background-end-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

/* Print styles */
@media print {
  @page {
    size: A4;
    margin: 0.5cm;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .page-break-before {
    page-break-before: always;
    break-before: page;
  }

  .page-break-after-always {
    page-break-after: always;
    break-after: page;
  }

  .prevent-page-break {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}